<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/foundation.css'>
    <link rel='stylesheet' href='/stylesheets/card.css'>
    <!-- <link rel="stylesheet" href="/stylesheets/card.css" media="screen" title="no title" charset="utf-8"> -->
    <script src='/javascripts/resources/angular.min.js.2'></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> -->
    <script src='/javascripts/resources/jquery-2.1.4.min.js'></script>
    <script src='/javascripts/resources/foundation.js'></script>
    <script src="/javascripts/resources/angular-sanitize.min.js.1"></script>
    <script src="/javascripts/resources/angular-animate.min.js.2"></script>
    <!-- might take this out -->
    <link rel="stylesheet" href="/stylesheets/materialize.min.css">
    <script src="/javascripts/resources/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $(document).foundation();
      });
    </script>
    <title>{{{title}}}</title>
</head>
<body ng-app="babble" ng-controller="BabbleControl" ng-init="init()">

    {{{body}}}

</body>
<script src="/javascripts/resources/socket.io-1.4.5.js"></script>
<script src='/javascripts/controllers/app.js'></script>
<!-- <script src='/javascripts/services.js'></script> -->
<script src='/javascripts/controllers/profile.js'></script>
<script src='/javascripts/controllers/profile_view.js'></script>
<script src='/javascripts/controllers/group.js'></script>
<!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'> -->
</html>
