<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel='stylesheet' type="text/css" href='http://cdn.foundation5.zurb.com/foundation.css'>
    <script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script src='http://cdn.foundation5.zurb.com/foundation.js'></script>
    <script>
      $(document).ready(function(){
        console.log('foundation init');
        $(document).foundation();
      });
    </script>
    <title>{{title}}</title>
</head>
<body ng-app="babble" ng-controller="BabbleControl" ng-init="init()">
  <div ng-include="" src="'partials/topbar.html'"></div>

    {{{body}}}

</body>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>
<script src='/javascripts/app.js'></script>
<script src='/javascripts/profile.js'></script>
</html>
