<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/foundation.css'>
    <link rel='stylesheet' href='/stylesheets/card.css'>
    <!-- <link rel="stylesheet" href="/stylesheets/card.css" media="screen" title="no title" charset="utf-8"> -->
    <script src='/javascripts/angular.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
    <script src='/javascripts/jquery-2.1.4.min.js'></script>
    <script src='/javascripts/foundation.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
    <!-- might take this out -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $(document).foundation();
      });
    </script>
    <title>{{{title}}}</title>
</head>
<body ng-app="babble" ng-controller="BabbleControl" ng-init="init()">

    {{{body}}}

</body>
<script src="/javascripts/socket.io-1.4.5.js"></script>
<script src='/javascripts/app.js'></script>
<!-- <script src='/javascripts/services.js'></script> -->
<script src='/javascripts/profile.js'></script>
<script src='/javascripts/profile_view.js'></script>
<script src='/javascripts/group.js'></script>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
</html>
