<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/foundation.css'>
    <script src='/javascripts/jquery-2.1.4.min.js'></script>
    <script src='/javascripts/foundation.js'></script>
    <script>
      $(document).ready(function(){
        console.log('foundation init');
        $(document).foundation();
      });
    </script>
    <title>{{{title}}}</title>
</head>
<body ng-app="babble" ng-controller="BabbleControl" ng-init="init()">
  <div ng-include="" src="'partials/topbar.html'"></div>

    {{{body}}}

</body>
<script src='/javascripts/angular.min.js'></script>
<script src='/javascripts/app.js'></script>
<script src='/javascripts/profile.js'></script>
</html>
