doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' type="text/css" href='http://cdn.foundation5.zurb.com/foundation.css')
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    script(src='https://code.jquery.com/jquery-2.1.4.js')
    script(src='http://cdn.foundation5.zurb.com/foundation.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/profile.js')
    script.
      $(document).ready(function(){
        $(document).foundation();
      });

  body(ng-app="babble" ng-controller="BabbleControl" ng-init="init()")
    
    div(ng-include="" src="'partials/topbar.html'")
          
    block content
    

    
