<link rel='stylesheet', href='/stylesheets/profile.css'>
<link rel='stylesheet', href='/stylesheets/card.css'>

<div ng-include="" src="'/partials/topbar.html'"></div>

<div ng-controller="ProfileControl" ng-init="init()">
  <h3 class="large-offset-1"> Welcome {[{user.local.email}]} to your profile page </h3>

  <div ng-repeat="profile in profile_list"
       class="card large-4 large-offset-1 rows waves-effect waves-light"
       ng-click="select_profile(profile)"
       id="{[{profile.name}]}_box">
    <div class="content" style="border: 4px solid white; padding: 1em;">
      <h2 class="title"> {[{profile.name}]} </h2>
      <p> reputation: {[{profile.rep}]} </p>

      <div ng-show="selected_profile.name == profile.name && profile.notifications"
           class="log_item_holder card unselected"
           style=" width:80%;"
           ng-click="mark_seen(profile)">
        <div class="profile-notification card"
             ng-repeat="n in profile.notifications"
             style="border-radius:2px; padding:2px;margin-left:2px;"
             ng-class="{unseen:'amber accent-3', seen:'blue lighten-2'}[n.status]">
          <p>{[{n.type}]}</p>
          <p>{[{n.content}]}</p>
        </div>
      </div>

      {{!-- Selects profile from profile_list --}}
      <button ng-click="select_profile(profile)"
              class="btn waves-effect waves-light profile_select_btn"
              id="{[{profile.name}]}_select">
        Select
      </button>

      {{!-- If profile is selected, goes to that profiles view page --}}
      <button ng-show="selected_profile.name == profile.name" class="btn waves-effect waves-light" ng-click='link_to_profile()'>
        <span class="fa fa-heart"></span>
        Profile
      </button>

      {{!-- Remove the profile --}}
      <button ng-click="remove_profile_modal_trigger()" ng-show="selected_profile.name == profile.name" class="btn waves-effect waves-light">
        <span class="fa fa-user-times"></span>
        Remove
      </button>
      {{!-- <div ng-repeat="group in profile.subscribed_groups")
        <p> {[{group}]} </p>
      </div> --}}
    </div>
  </div>
  <div class="large-offset-1">
    <p ng-show="profile_list.length < 1" class="large-offset-1">
      Looks like you dont have any profiles setup, would you like to make one?
    </p>
    <button class="btn waves-effect waves-light row medium-4" ng-click="new_profile_modal_trigger()"> Create New Profile </button>
  </div>
  <div ng-include="" src="'partials/new_profile.html'"></div>
  <div ng-include="" src="'partials/remove_profile.html'"></div>
</div>
