<style>
.profile_item_holder {
  margin-top: 2em;
}
</style>

<link rel='stylesheet', href='/stylesheets/menu.css'>
<link rel='stylesheet', href='/stylesheets/profile.css'>
<link rel='stylesheet', href='/stylesheets/codemirror.css'>
<script type="text/javascript" src="/javascripts/resources/codemirror.js"></script>
<div ng-include="" src="'/partials/profile_topbar.html'"></div>

{{!-- <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'> --}}

<div class="off-canvas-wrap move-right" data-offcanvas ng-controller="ProfileViewControl" ng-init="init()">
  <div class="inner-wrap">

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">

      {{!-- TODO: create profile settings model --}}
      <div class="icon-bar vertical five-up">

        <a class="item" class="waves-effect waves-light">
          <img class="left-off-canvas-toggle" src="/images/ic_keyboard_arrow_left_black_48dp/web/ic_keyboard_arrow_left_black_48dp_2x.png"></img>
        </a>

        <a class="item" ng-click='select_config_click()' class="waves-effect waves-light">
          <img src="/images/ic_settings_applications_black_48dp/web/ic_settings_applications_black_48dp_2x.png"></img>
          <label>Configure</label>
        </a>

        {{!-- TODO: Create Profile home --}}
        <a class="item" ng-click='select_home_click()' class="waves-effect waves-light">
          <img src="/images/ic_account_box_black_48dp/web/ic_account_box_black_48dp_2x.png"></img>
          <label>Home</label>
        </a>

        {{!-- TODO: create group display  --}}
        <a class="item" ng-click='select_group_click()' class="waves-effect waves-light">
         <img src="/images/ic_group_black_48dp/web/ic_group_black_48dp_2x.png"></img>
         <label>Groups</label>
        </a>

        {{!-- TODO: Create Active Discussion list view --}}
        <a class="item" ng-click='select_discussion_click()' class="waves-effect waves-light">
          <img src="/images/ic_message_black_48dp/web/ic_message_black_48dp_2x.png"></img>
          <label>Discussions</label>
        </a>
      </div>
    </aside>


    <div class="profile_item_holder">
      <div ng-include="" src="'/partials/profile_home.html'" ng-show='selected_tab == "home"'></div>
      <div ng-include="" src="'/partials/profile_config.html'" ng-show='selected_tab == "config"'></div>
      <div ng-include="" src="'/partials/profile_groups.html'" ng-show='selected_tab == "groups"'></div>
      <div ng-include="" src="'/partials/profile_discussions.html'" ng-show='selected_tab == "discussions"'></div>
    </div>

    <div ng-include="" src="'/partials/profile_modal.html'"</div>
    <div ng-include="" src="'/partials/new_discussion_modal.html'"></div>
    <div ng-include="" src="'/partials/group_create.html'"></div>
    <div ng-include="" src="'/partials/public_group_search.html'"></div>
  </div>
</div>
