body {
  padding: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #777!important;
  color: #aaa!important;
}

a {
  color: #00B7FF;
}

.wrapper {
  width: 80%;
  margin-bottom: 50em;
}

.span-padding {
  padding-right: 10px;
}

.group_card:hover {
  cursor: pointer;
  cursor: hand;
}

.group_card {
  /*float: left;*/
}

.unselected:hover {
  background-color: #388E3C!important;
}

.unselected_discussion:hover {
  /*background-color: #388E3C!important;*/
  /*cursor: pointer;
  cursor: hand;*/
  /*margin-right: 1em !important;*/
}

.unselected_discussion {

}

.discussion-wrapper {
  background-color: #009688!important;
  padding: 1em;
  overflow-y: scroll;
  height: 50%;
}

.discussion-context {

}

.discussion-post {
  border: 1px solid grey;
  border-radius: .2em;
  padding: 1em;
  float: right;
}

.selected {
  background-color: #009688!important;
  cursor: default!important;
}

.custom-width-1 {
  width: 40% !important;
}

.custom-width-2 {
  width: 45% !important;
}

.custom-width-3 {
  width: 55% !important;
}


.custom-offset-1 {
  margin-left: 3% !important;
}

.custom-offset-2 {
  margin-left: 10% !important;
}

.custom-offset-3 {
  margin-left: 45% !important;
}
