body {
  padding: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #777!important;
  color: #aaa!important;
}

a {
  color: #00B7FF;
}

.span-padding {
  padding-right: 10px;
}

.group_card:hover {
  cursor: pointer;
  cursor: hand;
}

.unselected:hover {
  background-color: #388E3C!important;
}

.unselected_discussion:hover {
  /*background-color: #388E3C!important;*/
  /*cursor: pointer;
  cursor: hand;*/
}

.discussion-post {
  border: 1px solid grey;
  border-radius: .2em;
  padding: 1em;
}

.selected {
  background-color: #009688!important;
  cursor: default!important;
}
