body {
  padding: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #777!important;
  color: #aaa!important;
}

a {
  color: #00B7FF;
}

#chat-field {
  border: solid black 1px;
  border-radius: 1em;
}

.animate-enter,
.animate-leave
{
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
}

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.animate-enter.animate-enter-active,
.animate-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}

.wrapper {
  width: 80%;
  margin-bottom: 50em;
}

.discussion-wrapper {
  background-color: #009688!important;
  padding: 1em;
  overflow-y: scroll;
  height: 50%;
}

.chat-wrapper {
  background-color: #555;
  padding: 1em;
  overflow-y: scroll;
  height: 50%;
  /*transition: all .25s ease-in-out;*/
}

.span-padding {
  padding-right: 10px;
}

.group_card:hover {
  cursor: pointer;
  cursor: hand;
}

.group_card {
  /*float: left;*/
}

.unselected:hover {
  background-color: #388E3C!important;
}

.unselected_discussion:hover {
  /*background-color: #388E3C!important;*/
  /*cursor: pointer;
  cursor: hand;*/
  /*margin-right: 1em !important;*/
}

.unselected_discussion {

}



.discussion-context {

}

.discussion-post {
  border: 1px solid grey;
  border-radius: .2em;
  padding: 1em;
  float: right;
}

.selected {
  background-color: #009688!important;
  cursor: default!important;
}

.custom-width-1 {
  width: 40% !important;
}

.custom-width-2 {
  width: 45% !important;
}

.custom-width-3 {
  width: 55% !important;
}

.custom-width-4 {
  width: 52% !important;
}

.custom-offset-1 {
  margin-left: 3% !important;
}

.custom-offset-2 {
  margin-left: 10% !important;
}

.custom-offset-3 {
  margin-left: 45% !important;
}
