<div id="group_create_modal" class="reveal-modal" data-reveal aria-labelledby="group_create_modal" aria-hidden="true" role="dialog">
   <input class="row" type="text" placeholder="Group Name" id="new_group_name"></input>
   <input class="row" type="text" placeholder="Group description" id="new_group_desc"></input>
   <input class="row left" style="margin-bottom:0px!important; margin-top:1em;"type="checkbox" id="create_group_privacy_box">
    private group?
  </input>
   <p class="row" ng-repeat="friend in friends_list" ng-click="select_friend(friend)" id="{[{friend}]}_select">
     {[{friend}]}
   </p>
   <button class="row btn waves-effect waves-light" ng-click="get_friends()">Add friends</button>
   <button class="row btn waves-effect waves-light" class="success" ng-click="create_group()">Create Group</button>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
