<div id="login_modal" class="reveal-modal" data-reveal aria-labelledby="register_modal" aria-hidden="true" role="dialog">
  <h2 class="text-center"><span class="fa fa-sign-in span-padding"/>Login</h2>
   <label>Username
     <input type="text" placeholder="username" id="login-username-field">
   </label>
   <label>Password
     <input type="password" placeholder="password" id="login-password-field">
   </label>
   <button class="success" ng-click="login()">login</button>
   <button ng-click="register_modal_trigger()">Dont have an account?</button>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
