<div id="new_discussion_modal" class="reveal-modal" data-reveal aria-labelledby="new_discussion_modal" aria-hidden="true" role="dialog">
   <h2 class="text-center register-header">New Discussion</h2>
   <label>Discussion Name
     <input type="text" placeholder="new discussion" id="new-discussion-name-field">
   </label>
   <label>Description
     <input type="text" placeholder="Description" id="new-discussion-description-field">
   </label>
   <div id="discussion-post-field">

   </div>
   <button class="btn waves-effect waves-light" ng-click="post_new_discussion()">Post</button>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
