<div id="new_profile_modal" class="reveal-modal" data-reveal aria-labelledby="new_profile_modal" aria-hidden="true" role="dialog">
  <h2 class="text-center">
    <span class="fa fa-user span-padding"></span>
    New Profile
  </h2>
   <label>
     Profile Name
     <input type="text" placeholder="profile name" id="new-profile-name-field"/>
   </label>
   <button class="btn waves-effect waves-light" ng-click="new_profile()">Create Profile</button>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
