<div id="privacy_policy_modal" class="reveal-modal" data-reveal aria-labelledby="privacy_policy_modal" aria-hidden="true" role="dialog">
   <pre>
     No personal information from this site will ever be turned over to any third party for any reason.
     That means no user information will ever be sold to advertisers, and no thrid party ads will ever be served from this site.
     This site follows the strict Lavabit model, if a legaly binding request for user information is ever served, the site will go down.
     If you can still read this, that means no information has been requested or supplied.

     If you are a developer and clone this github repo and change this policy, change this notice.
   </pre>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
