<style>
#left-canvas-toggle:hover {
  color: #8c8c8c!important;
  transition: all .25s ease-in-out!important;
}
</style>

<nav class="top-bar" data-topbar role="navigation">
  <ul>
    <section class="top-bar-section">
      <ul class="left">
        <li id="left-canvas-toggle">
          <a href="JavaScript:void(0)" style="line-height:0px!important; margin-top:0px;" class="left-off-canvas-toggle">
            <img style="height:45px;" src="/images/ic_keyboard_arrow_right_black_48dp/web/ic_keyboard_arrow_right_black_48dp_2x.png"></img>
          </a>
        </li>
      </ul>
    </section>
  </ul>
</nav>
