<div class="wrapper">
  <div class="" id="group-wrapper">
    <div class="card group_card waves-effect waves-light custom-offset-2 unselected"
         ng-repeat="group in $parent.group_list"
         ng-click="select_group(group)"
         id="group_{[{group._id}]}">
      <div class="group_border"
           style="border: 4px solid white; padding: 1em;"
           id="group_{[{group._id}]}_border">
        <h2>
          {[{group.name}]}
        </h2>
        <p>
          {[{group.description}]}
        </p>
        <!-- <div class="card-element" ng-repeat="key in group_keys" ng-show="selected_group == group._id">
          {[{key}]} : {[{group[key] }]}
        </div> -->
        <p ng-show="group.unseen == true">
          Unread discussions
        </p>
      </div>
    </div>
    <div class="custom-width-1 custom-offset-2 card">
      <div ng-show="group_list && group_list.length == 0">
        <h1>No groups!</h1>
        <p>
          Looks like you're not subscribed to any groups
        </p>
      </div>
      <p style="">
        <a href="" style="margin-right:0px!important;" ng-click='create_group_trigger()'>
          create a group
        </a>
        or search for a
        <a href="" ng-click='public_group_search()'>
          public group
        </a>
      </p>
    </div>
  </div>

  <a class="btn-floating btn-large waves-effect waves-light red left row"
     style="opacity:0;"
     ng-click="discussion_back()"
     id="discussion_back">
    <i class="material-icons">
     <img src="/images/ic_arrow_back_black_24dp/web/ic_arrow_back_black_24dp_1x.png" alt="back" />
    </i>
  </a>

  <div class="columns small-offset-5 custom-width-3 discussion-wrapper card"
       ng-show="selected_group == selected_group_obj._id"
       id="discussion-wrapper"
       style="opacity:0;">
    <a class="btn-floating btn-large waves-effect waves-light blue darken-1 right row"
       ng-click="new_discussion_modal_trigger(selected_group_obj)">
      <i class="material-icons" data-tooltip aria-haspopup="true" title="New Discussion">
        +
      </i>
    </a>
    <div class="card waves-effect waves-light waves-teal unselected_discussion row"
         ng-repeat="d in selected_group_obj.discussion_list"
         ng-click="select_discussion(d)"
         ng-show="selected_group == selected_group_obj._id"
         id="discussion_{[{d._id}]}">
     <div class="card left"
          style="margin-left: 10px!important; margin-bottom:1em!important;width:90%;"
          id="discussion_{[{d._id}]}_card">
       <h3>
         {[{d.title}]}
       </h3>
       <p>
         {[{d.desc}]}
       </p>
       <div class="discussion-post unselected_discussion waves-effect left" ng-bind-html="d.text"></div>
       <p>
         {[{d.posted}]}
       </p>
     </div>
    </div>
  </div>

  <div class="chat-wrapper card custom-offset-3 custom-width-4"
       style="top:1000; height:100%;"
       ng-show="selected_discussion"
       id="chat-wrapper">
      <div class="fixed-action-btn horizontal right" style="position: relative;">
       <a class="btn-floating btn-large blue darken-1">
         <img class="large material-icons discussion-context" src="/images/ic_more_horiz_black_24dp/web/ic_more_horiz_black_24dp_2x.png"/>
       </a>
       <ul>
         <li>
           <a class="btn-floating green">
             <img  src="/images/ic_thumb_up_black_24dp/web/ic_thumb_up_black_24dp_1x.png" class="material-icons"/>
           </a>
         </li>
         <li>
           <a class="btn-floating red">
             <img src="/images/ic_thumb_down_black_24dp/web/ic_thumb_down_black_24dp_1x.png" class="material-icons"/>
           </a>
         </li>
         <li>
           <a class="btn-floating yellow darken-1">
             <img src="/images/ic_warning_black_24dp/web/ic_warning_black_24dp_1x.png" class="material-icons"/>
           </a>
         </li>
       </ul>
      </div>
    <div class="" id="chat-field"></div>
    <button type="button" class="btn-floating" ng-click="send_message()">
      <img src="/images/ic_send_black_24dp/web/ic_send_black_24dp_1x.png" alt="" />
    </button>
    <div class="card indigo lighten-4"
         ng-animate="'animate'"
         ng-repeat="m in $parent.message_list | reverse">
      <div class="card" ng-bind-html="m.content"></div>
      <p>
        -- {[{m.by}]} @ {[{ m.posted }]}
      </p>
    </div>
  </div>


</div>
