<div class="row">
  <div class="medium-6 columns">
    <p>
      Profile Image
    </p>
    <img src="/uploads/{[{profile}]}.jpg" alt="" style="width:100%;"/>
    <form id    =  "uploadForm"
      enctype   =  "multipart/form-data"
      action    =  "{[{ '/image_upload/' + profile }]}"
      method    =  "post">
        <input type="file" class="btn waves-effect waves-light" name="userImage"/>
        <input type="submit" value="Upload" name="submit">
    </form>
    <!-- <input type="file" class="btn waves-effect waves-light" style="width:100%;">Profile picture</input> -->
  </div>

  <div class="medium-6 columns">
    <p>
      Profile Text
    </p>
    <p id="profile_text">
      {[{profile_text}]}
    </p>
    <input type="text" name="profile_text" id="profile_text_edit" ng-show="profile_edit">
    <button class="btn waves-effect waves-light" ng-show="profile_edit" ng-click="profile_edit_send()">
      Submit profile text
    </button>
    <button class="btn waves-effect waves-light" ng-show="!profile_edit" ng-click="profile_edit = true">
      Edit profile text
    </button>
  </div>
</div>
