<div class="">
  <div class="card row group_card waves-effect waves-light large-offset-2 unselected" ng-repeat="group in group_list" ng-click="select_group(group)" id="group_{[{group._id}]}">
    <div class="" style="border: 4px solid white; padding: 1em;">
      <a class="btn-floating btn-large waves-effect waves-light red right" ng-show="selected_group == group._id" ng-click="new_discussion_modal_trigger(group)">
        <i class="material-icons">
          +
        </i>
      </a>
      <h2>
        {[{group.name}]}
      </h2>
      <p>
        {[{group.description}]}
      </p>
      <div class="card" ng-repeat="d in group.discussion_list" ng-show="selected_group == group._id">
        <h3 style="margin-left: 10px!important;">{[{d.title}]}</h3>
        <p  style="margin-left: 10px!important; margin-bottom:1em!important;">{[{d.desc}]}</p>
        <div class="discussion-post unselected_discussion" ng-click="select_discussion(d)" ng-bind-html="d.text"></div>
        <div class="fixed-action-btn horizontal right" style="position: relative;">
          <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
          </a>
          <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
          </ul>
        </div>
        <div class="discussion_edit" ng-show="false">

        </div>
      </div>
      <!-- <div class="card-element" ng-repeat="key in group_keys" ng-show="selected_group == group._id">
        {[{key}]} : {[{group[key] }]}
      </div> -->
      <p ng-show="group.unseen == true">
        Unread discussions
      </p>
    </div>
  </div>
  <div>
    <div class="" ng-show="group_list && group_list.length == 0">
      <h1>No groups!</h1>
      <p>
        Looks like you're not subscribed to any groups, maybe
    </div>
      <a href="" ng-click='create_group_trigger()'>
        create a group
      </a>
      or search for a
      <a href="" ng-click='public_group_search()'>
        public group
      </a>
    </p>
  </div>
</div>
