<div class="row">
  <div class="card group_card" ng-repeat="group in group_list">
    <div class="" style="border: 4px solid white; padding: 1em;">
      <h2>
        {[{group.name}]}
      </h2>
      <p>
        {[{group.description}]}
      </p>
      <p ng-show="group.unseen == true">
        Unread discussions
      </p>
    </div>
  </div>
  <div>
    <div class="" ng-show="group_list && group_list.length == 0">
      <h1>No groups!</h1>
      <p>
        Looks like you're not subscribed to any groups, maybe
    </div>
      <a href="" ng-click='create_group_trigger()'>
        create a group
      </a>
      or search for a
      <a href="">
        public group
      </a>
    </p>
  </div>
</div>
