<div id="public_group_search_modal" class="reveal-modal" data-reveal aria-labelledby="public_group_search_modal" aria-hidden="true" role="dialog">
   <div class="card group_card"
        ng-click="select_public_group(group)"
        ng-repeat="group in public_group_list"
        id="public_group_{[{group._id}]}">
     <div class="" style="border: 4px solid white; padding: 1em;">
       <h2>
         {[{group.name}]}
       </h2>
       <p>
         {[{group.description}]}
       </p>
     </div>
   <div>
     <button ng-click="group_subscribe(group)"
             class="btn waves-effect waves-light"
             type="button"
             name="button">Subscibe</button>
   </div>
   </div>
   <div class="" ng-show="public_group_list.length == 0">
     <p>
       All groups are currently private
     </p>
   </div>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
