<div id="register_modal" class="reveal-modal" data-reveal aria-labelledby="register_modal" aria-hidden="true" role="dialog">
   <h2 class="text-center register-header"><span class="fa fa-lock span-padding"/>Register New Account</h2>
   <label>Email
     <input type="text" placeholder="email" id="reg-email-field">
   </label>
   <label>Username
     <input type="text" placeholder="username" id="reg-username-field">
   </label>
   <label>Password
     <input type="password" placeholder="password" id="reg-password-field">
   </label>
   <button class="btn waves-effect waves-light" ng-click="register()" id="register-button">register</button>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
