<div id="register_modal" class="reveal-modal" data-reveal aria-labelledby="register_modal" aria-hidden="true" role="dialog">
   <h2>Register</h2>
   <label>Email
     <input type="text" placeholder="email" id="reg-email-field">
   </label>
   <label>Username
     <input type="text" placeholder="username" id="reg-username-field">
   </label>
   <label>Password
     <input type="password" placeholder="password" id="reg-password-field">
   </label>
   <button class="success round" ng-click="register()">register</button>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
