<div id="remove_profile_confirm_modal" class="reveal-modal" data-reveal aria-labelledby="remove_profile_confirm_modal" aria-hidden="true" role="dialog">
   <h2 class="text-center register-header"><span class="fa  fa-question-circle span-padding"/>Remove Account?</h2>
   <p> Are you sure you want to remove this account? This action is unrecoverable and will destroy all database records. </p>
   <button class="btn waves-effect waves-light error" ng-click="delete_profile($scope.selected_profile)">Remove Profile</button>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
