<nav class="top-bar" data-topbar role="navigation">
  <ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="active">
          <a href="/"> home </a>
        </li>
        <li>
          <a href="JavaScript:void(0)" class="waves-effect waves-light" ng-click="login_modal_trigger()" ng-show="data.status == 'loggedout'">
            <span class="fa fa-user">
            Log In
          </a>
          <a href="JavaScript:void(0)" class="waves-effect waves-light" ng-click="logout()" ng-show="data.status == 'loggedin'">
            <span class="fa fa-user">
            Log Out
          </a>
        </li>
      </ul>
      <ul class="right">
        <li>
          <a href="JavaScript:void(0)" ng-click=""> Lorem Ipsum </a>
        </li>
      </ul>
    </section>
  </ul>
</nav>
